<form class="my-10 space-y-6" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">Sign Up <span class="text-primary">!</span></h2>
    <p class="text-muted-foreground text-sm">Let's get started with your 30 day free trial</p>
  </div>

  <div *ngIf="error" class="text-red-500 text-center">{{ error }}</div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <input type="text" id="name" class="peer block" placeholder=" " [(ngModel)]="name" name="name" required />
      <label for="name" class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">Name</label>
    </div>
    <div class="relative">
      <input type="text" id="restaurantName" class="peer block" placeholder=" " [(ngModel)]="restaurantName" name="restaurantName" required />
      <label for="restaurantName" class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">Restaurant Name</label>
    </div>
    <div class="relative">
      <input type="text" id="email" class="peer block" placeholder=" " [(ngModel)]="email" name="email" required />
      <label for="email" class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">Email address</label>
    </div>
    <div class="relative">
      <input type="password" id="password" class="peer block" placeholder=" " [(ngModel)]="password" name="password" required />
      <label for="password" class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">Password</label>
    </div>
    <div class="relative">
      <input type="password" id="confirm-password" class="peer block" placeholder=" " [(ngModel)]="confirmPassword" name="confirmPassword" required />
      <label for="confirm-password" class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">Confirm Password</label>
    </div>
  </div>

  <div class="flex items-center justify-between space-x-3">
    <div class="flex items-center gap-1">
      <input id="accept-term" name="accept-term" type="checkbox" required />
      <label for="accept-term" class="text-muted-foreground ml-2 block text-sm"> I Accept the </label>
      <app-button impact="none" tone="primary" shape="rounded" size="small"> Terms </app-button>
    </div>
  </div>

  <!-- Submit Button -->
  <div>
    <app-button full impact="bold" tone="primary" shape="rounded" size="medium" [disabled]="loading">Sign up</app-button>
  </div>

  <!-- Sign-up -->
  <div class="text-muted-foreground flex items-center text-sm">
    Already have an Account?
    <app-button routerLink="/auth/sign-in" impact="none" tone="primary" shape="rounded" size="small">
      Sign in
    </app-button>
  </div>
</form>
